@font-face {
    font-family: "Blender-Pro";
    src: url(https://github.com/ArasakaCorp/arasakacorp.github.io/blob/main/fomts/Blender-Pro-Medium.ttf?raw=true);
}

body {
    font-family: "Blender-Pro", normal;
}