@font-face {
    font-family: MavenPro-Regular;
    src: url(https://github.com/ArasakaCorp/arasakacorp.github.io/blob/main/fomts/MavenPro-Regular.ttf?raw=true); /* Путь к файлу со шрифтом */
}

body {
    font-family: MavenPro-Regular, normal;
}